/* Default styles */


.S-navi {
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0;
  left: 120%;
  right: 10%;
  width: 100%;
  display: inline-block;
  background: linear-gradient(to top, #01011abf, #040209);
  animation: fadeIn 1s ease-in-out forwards, changeColor 2s ease-in-out infinite alternate;
  /* border-radius: 20px; */
  padding: 5px;
  justify-content:left;
  padding-left: 30px;

  }
.Snavclass {
    overflow: hidden;
    /* background: linear-gradient(to top, #212130, #39304A); */
    border-radius: 20px;
  }
  
  .Sulclass {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
  
    /* gap: 2rem; */
  }


  .Snavclass.active {
    background: linear-gradient(to right, hsl(0, 85%, 43%), hsl(0, 71%, 28%));
    border-radius: 5px;
  }
  

  .Snavclass a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer; 
    font-size: smaller;

  }

  .Snavclass a:hover {
    text-decoration-color:linear-gradient(to right, hsl(0, 85%, 43%), hsl(0, 71%, 28%));
    border-bottom: 5px solid #C71102;
    border-radius: 5px;

  }
  
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {

     .S-navi {
      display: inline-block;
      align-items: center;
      animation: fadeIn 1s ease-in-out forwards, changeColor 2s ease-in-out infinite alternate;
      border-radius: 0px;
      width: 100%;
      } 
    .Sulclass {
    
        font-size:10px; 
    
      }
  
    .Snavclass a {
      padding: 10px;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      
    }
  }
  


.why-choose-us-container {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to top, #01011abf, #040209);
}

.why-choose-us-item {
  width: calc(33.33% - 20px); /* Adjust the width as needed, considering margins */
  margin: 10px;
  padding: 25px;
  border: 1px solid #a25353; /* Add a border for separation */
  border-radius: 8px;
  background-color:white;
}

.why-choose-us-item p{
  font-family:Arial, Helvetica, sans-serif;
}

.iconw {
  width: 44px; /* Adjust the width as needed */
  height: 44px; /* Adjust the height as needed */
  margin-right: 10px; 
  margin-bottom: -10px;
  animation: shake 1.5s infinite; /* Adjust the animation duration as needed */
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(2px);
  }
}

.iconwr {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: -10px;
  animation: rotate 2s infinite linear; /* Adjust the animation duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.why-choose-us-item h2 {
  color: #333; /* Adjust text color as needed */
  margin-bottom: 10px;
}

.why-choose-us-description {
  color: #555; /* Adjust text color as needed */
}

@media screen and (max-width: 768px) {
  .why-choose-us-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .why-choose-us-item {
    width: 100%;
  }
}


/*Working Area styles*/

.WA-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(to top, #040209, #01011abf);
 
}

.WA-item {
  width: calc(50% - 20px); 
  margin: 10px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  backdrop-filter: blur(5px);
 
}
.WAp{
color: #000000;
}

.WA-item h2 {
  color: #333;
}

.WA-description {
  color: #555;
}

.WAimg{
  border-radius: 10px;
  margin-top: 10PX;
}

/* Media queries for responsive design */

@media screen and (max-width: 768px) {
  .WA-item {
    width: calc(100% - 20px);
  }
}

.download-button-container {
  text-align: center;
  padding: 30px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background:linear-gradient(to right, hsl(0, 85%, 43%), hsl(0, 71%, 28%));
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background:linear-gradient(to right, hsl(0, 85%, 43%), hsl(120, 100%, 0%));
}




/* under cons*/

.under-construction-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #ffffff; /* Adjust background color as needed */
  overflow: hidden;
}

.loading-bar-container {
  width: 70%; /* Set the maximum width of the loading bar */
  height: 20px; /* Set the height of the loading bar */
  background-color: #ddd; /* Set the background color of the loading bar */
  border-radius: 10px; /* Set border radius for rounded corners */
  overflow: hidden;
  position: relative; /* Set the position to relative */
}

.loading-bar {
  height: 100%;
  background: linear-gradient(to right, hsl(0, 85%, 43%), hsl(0, 71%, 28%));
  transition: width 0.5s ease; /* Smooth transition effect */
}

.construction-message {
  text-align: center;
  z-index: 2; /* Ensure message is on top of the loading bar */
  position: absolute; /* Set the position to absolute */
  width: 100%; /* Take full width of the parent container */
  top: 50%; /* Align the message to the vertical center */
  transform: translateY(-50%); /* Adjust for centering */
  padding-bottom: 150px;
}

.construction-message h2 {
  font-size: 24px;
  color: #333; /* Adjust text color as needed */
}

.construction-message p {
  font-size: 16px;
  color: #555; /* Adjust text color as needed */
  margin-top: 10px;
}

.loading-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Set text color */
  font-size: 14px; /* Set font size */
}





/*under cons end*/