

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --PrimaryColor: hsl(0, 100%, 33%);
  --SecondaryColor: hsl(0, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(0, 85%, 43%), hsl(0, 96%, 35%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239. 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);

  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f42f15;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ff5439 100.75%);
  --appColor:  #3c3f45;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: .6rem 1.5rem;
  background: linear-gradient(to right, #ff0000, #d41919, #8b0000);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover{
  background: var(--SecondaryColor);
}

img, video {
   width: 100%;
   height: auto;
}

input{
  font-size: 100%;
}

body{
  background: var(--bodyColor);
}


@media screen and (min-width: 1240px) {

  .container{
    width: 80% !important;
    margin: auto !important;
  }

  .section{
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 2560px){
  body{
    zoom: 1.7;
  }
}


/* make variables */














.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.blur{
  background: rgb(9, 4, 3);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -9;
}
